In [5]:
a=(1,2,3)

In [7]:
print(a)

(1, 2, 3)

In [8]:
print(type(a))

<class 'tuple'>

In [9]:
b,c=3,4

In [10]:
print(b)
print(c)

3
4

In [13]:
f=(1,2,3,4,5,6)
f[0:3]

(1, 2, 3)

In [14]:
f=(1,2,3,4,5,6)
f[3:]

(4, 5, 6)

In [15]:
a = 5,6,7
a[2] = 9 
print(a)

TypeError: 'tuple' object does not support item assignment

In [16]:
a=(1,2,3)
b=4,5
for i in a:
    print(i)

1
2
3

In [17]:
len(a)

3

In [18]:
1 in a

True

In [19]:
#concatenation
c=a+b

In [20]:
c

(1, 2, 3, 4, 5)

In [21]:
a*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [22]:
min(a)

1

In [23]:
max(a)

3

In [24]:
#list to tuple
l=[1,2,3,4]
tuple(l)

(1, 2, 3, 4)

variable length input and output

In [25]:
def sum(a,b):
    return a+b

In [26]:
sum(1,2)

3

In [31]:
def sum2(a,b,*min):
    print(a)
    print(b)
    print(min)
    ans=a+b
    for i in min:
        ans=ans+i
    return ans

In [29]:
sum2(2,3,4,4)

2
3
(4, 4)

In [32]:
def sum_diff(a,b):
    return a+b,a-b

In [33]:
c=sum_diff(4,1)
c

(5, 3)

In [34]:
def multiply(a,b,c,*more):
    value = a*b*c
    for i in more:
        value = value * i
    return value
V = multiply(1,2,3,4,5)
print(V)

120

In [35]:
def sum_multiply(a,b,*more):
    sum_value = a+b
    m_value = a*b
    for i in more:
        sum_value += i
        m_value*=i
    return sum_value,m_value
s_m = sum_multiply(2,3,4)
print(s_m)

(9, 24)